# Default ignored files
/../../moon_and_orbiter /.idea/shelf/
/../../moon_and_orbiter /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../moon_and_orbiter /.idea/httpRequests/
# Datasource local storage ignored files
/../../moon_and_orbiter /.idea/dataSources/
/../../moon_and_orbiter /.idea/dataSources.local.xml
